


.header-area {
    background-color: #264653;
}
.btn.bg-custom {
    background-color: #E76F51;
}
.bg-custom {
    background-color: #E76F51;
}
.p-color {
    color: #E0E0E0;
}
.p-color-g {
    color: gray;
}
.text-color {
    color: #E76F51;
}
img.gray {
    filter: grayscale(100%);
}
.hov:hover {
    color: #fff;
    background-color: #E76F51;
}
.hov {
    border-radius: .25rem;
    transition: .36s;
    color: #E76F51;
    background-color: #fff;
    border: 1px solid #E76F51;
}
 

.form-area {
    background-image: url('images/red-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

input:focus,
textarea:focus {
    outline-width: 0;
}
textarea {
    border-radius: 40px;
}